name: macOS

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: "0 6 * * *"

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install some packages
        run: ./test macos

      - name: Test installed brew `ack`
        run: brew ls ack
      - name: Test installed brew `ag`
        run: brew ls ag
      - name: Test installed brew `bash`
        run: brew ls bash
      - name: Test installed brew `git`
        run: brew ls ripgrep

      - name: Test installed cask `gpg-suite`
        run: brew ls --cask gpg-suite
      - name: Test installed cask `vlc`
        run: brew ls --cask vlc

      - name: Test brew installed via Brewfile `jq`
        run: brew ls jq
      - name: Test cask installed via Brewfile `firefox`
        run: brew ls --cask firefox
