name: Ubuntu

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: "0 6 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4

      - name: Install some packages
        run: ./test linux

      - name: Test installed brew `ack`
        run: brew ls ack
      - name: Test installed brew `ag`
        run: brew ls ag
      - name: Test installed brew `bash`
        run: brew ls bash
      - name: Test installed brew `git`
        run: brew ls git

      - name: Test brew installed via Brewfile `jq`
        run: brew ls jq
